<a href="https://colab.research.google.com/github/AndrewMinuti/InClassAssignments/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Surface Area of a cyllander 8/27

In [ ]:
r = 3
pi = 3.14
h = 10
area = 2 * pi * r ** 2 + 2 * pi * r * h
print(area)

244.92000000000002

Rock Paper Scissors

In [ ]:
P1 = (input('Player 1 (Rock/Paper/Scissors): '))
P2 = (input('Player 2 (Rock/Paper?Scissors): '))

if P1 == P2:
  print('Draw')
elif (P1 == 'Rock' and P2 == 'Scissors') or (P1 == 'Scissors' and P2 == 'Paper') or (P1 == 'Paper' and P2 == 'Rock'):
  print('P1 Wins')
elif (P2 == 'Rock' and P1 == 'Scissors') or (P2 == 'Scissors' and P1 == 'Paper') or (P2 == 'Paper' and P1 == 'Rock'):
  print('P2 Wins')

Player 1 (Rock/Paper/Scissors): Rock
Player 2 (Rock/Paper?Scissors): Paper
P2 Wins

Calculator

In [ ]:
N1 = float(input('1st Number'))
N2 = float(input('2nd Number'))
S = (input('+ - * /'))

if S == '+':
  A = N1 + N2
  print(A)
elif S == '-':
  A = N1 - N2
  print(A)
elif S == '*':
  A = N1 * N2
  print(A)
elif S == '/':
  A = N1 / N2
  Print(A)
else:
  print('Invalid Symbol')

1st Number5
2nd Number6
+ - * /*
30.0

Parking Garage

In [ ]:
flat = 5
for t in range(1, 9):
  charge = flat + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

Movie Theater

In [ ]:
flat = 200
ticket = 10
standardAttendees = 20
for ad in range(0, 200, 25):
  attendance = 2 * round(ad ** .5) + standardAttendees
  profit = ticket * attendance - flat - ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85

0 List

In [ ]:
L = []
I = 1
while I != 0:
  I = float(input())
  L.append(I)
L

1
2
3
4
5
6
7
8
9
0

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 0.0]

Month Dictionary

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for x in numbers:
  months[x] = names[x-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

House Hunting

In [ ]:
total_cost = float(input('House_Cost: '))
salary = float(input('Annual_Salary: '))
portion_saved = float(input('Portion_Saved: '))
portion_down_payment = 0.25
amount = 0
months = 0
r = 0.04
down = total_cost * portion_down_payment

while amount < down:
    months += 1
    amount = amount + (amount * r / 12) + (salary * portion_saved / 12)

print(months)

House_Cost: 100000
Annual_Salary: 10000
Portion_Saved: .20
122

House Hunting 2

In [ ]:
total_cost = float(input('House Cost: '))
salary = float(input('Annual Salary: '))
portion_saved = float(input('Portion Saved: '))
semi_annual_raise = float(input('Semiannual Raise (as a decimal): '))

portion_down_payment = 0.25
amount = 0
months = 0
r = 0.04
down = total_cost * portion_down_payment

while amount < down:
    months += 1
    amount = amount + (amount * r / 12) + (salary * portion_saved / 12)
    if months % 6 == 0:
        salary = salary * (1 + semi_annual_raise)

print(months)

House Cost: 1000000
Annual Salary: 200000
Portion Saved: .20
Semiannual Raise (as a decimal): .10
49

Number Within Range

In [ ]:

def range_check(number, start, end):
    return start <= number <= end
number = float(input('Number'))
Lower = float(input('Lower'))
Upper = float(input('Upper'))
print(range_check(number,Lower,Upper))

Number5
Lower1
Upper4
False

String Reversal

In [ ]:
string = input()
def rev(s):
  if len(s) == 0:
    return s
  else:
    return rev(s[1:]) + s[0]


print(rev(string))

hello
olleh

Weighted Average

In [9]:
from ast import YieldFrom
def wAvg(L, w):
    try:
        numerator = sum(x * y for x, y in zip(L, w))
        denominator = sum(w)
        return numerator / denominator

    except ZeroDivisionError:
        print("ZeroDivisionError:")
        return []

    except TypeError:
        print("TypeError:")
        return []

    except Error:
        print(f'Unknown Error: {e}')
        return float('nan')

wAvg([1, 2, 3], [.3, .4, .3])

2.0